.banner__section {
  position: relative;
}

.banner__div {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  height: 223px;
  background: black;
  opacity: 0.3;
  z-index: 1;
  border-radius: 25px;
}

.banner__title {
  font-size: 48px;
  color: #fff;
  position: absolute;
  z-index: 2;
}

.banner__img {
  height: 223px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  mix-blend-mode: darken;
  z-index: 0;
  object-position: 0% 45%;
}
