.title {
  border-radius: 5px;
  background: #ff6060;
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 32px;
}

.title h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.content p,
.content ul {
  margin-top: 0;
  overflow: hidden;
  transform-origin: top;
  background: #f6f6f6;
  border-radius: 10px 10px 5px 5px;
  padding: 20px 20px;
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
}

.arrow {
  transition: transform 0.5s ease-in-out;
}

.arrow__open {
  transform: rotate(0deg);
}

.arrow__close {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 16px;
  }

  .content p,
  .content ul {
    font-size: 14px;
  }

  .arrow {
    width: 22px;
    height: 22px;
  }

  .title {
    height: 10px;
  }
}
