.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  user-select: none;
}

.item {
  width: 75%;
}

.title {
  border-radius: 5px;
  background: #ff6060;
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 32px;
}

.title h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.content {
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transform: scaleY(1);
  animation: grey_square 0.2s cubic-bezier(0.5, 0, 0.9, 1) forwards;
  background-color: #f6f6f6;
  border-radius: 10px 10px 5px 5px;
  padding: 0 20px;
}

.content.close {
  height: auto;
  max-height: 9999px;
  transform: scaleY(0);
  animation: grey_square--reverse 0.5s cubic-bezier(0.5, 0, 0.9, 1) forwards;
  background-color: #f6f6f6;
  border-radius: 10px 10px 5px 5px;
  padding: 0 20px;
}

.show p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  transform: translateY(-200%);
  animation: anim-text 0.5s ease-in-out forwards;
}

.close p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
  transform: translateY(0%);
  animation: anim-text--reverse 0.2s ease-in-out forwards;
}

.arrow__open {
  transform: rotate(180deg);
  animation: arrow__open 0.5s ease-in-out forwards;
}

.arrow__close {
  transform: rotate(0deg);
  animation: arrow__close 0.5s ease-in-out forwards;
}

@keyframes arrow__close {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes arrow__open {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anim-text {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-text--reverse {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@keyframes grey_square {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes grey_square--reverse {
  0% {
    transform: scaleY(1);
  }

  90% {
    transform: scaleY(0);
  }

  100% {
    display: none;
  }
}
