.carrousel__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 415px;
  position: relative;
}

.info__section {
  margin-top: 12px;
  margin-bottom: 50px;
}

.info__div {
  display: flex;
  justify-content: space-between;
}

.collapse {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.accordion__housingRecord {
  padding-top: 40px;
  user-select: none;
  width: 50%;
}

.item__housingRecord {
  width: 100%;
}

.ul__equipment {
  display: grid;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

@media (max-width: 768px) {
  .info__div {
    display: block;
  }
  .collapse {
    gap: 0;
    align-items: center;
    flex-direction: column;
  }

  .accordion__housingRecord {
    padding-top: 20px;
    width: 100%;
  }
}
