@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  /* display: flex;
  justify-content: center; */
}

/* .mainContainer {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
} */

.displayFlex-alignCenter {
  display: flex;
  align-items: center;
}

nav {
  padding: 35px 100px;
  justify-content: space-between;
}

h1 {
  color: #ff6060;
  font-weight: 500;
}

h2 {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
}

p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.StyledLink {
  padding-left: 70px;
  color: #ff6060;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.footer__div {
  background-color: black;
  padding: 40px 0;
  flex-direction: column;
}

.footer__text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.footer__img {
  width: 122px;
  height: 40px;
  padding-bottom: 30px;
}

.error {
  flex-direction: column;
  padding: 100px 0;
}

.backToHome {
  text-decoration: underline;
  font-size: 18px;
  padding-left: 0;
}

.error__txt {
  font-size: 36px;
  padding: 100px 0;
}
