@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 100px;
}

/* .mainContainer {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
} */

.displayFlex-alignCenter {
  display: flex;
  align-items: center;
}

nav {
  padding: 40px 0;
  justify-content: space-between;
}

h1 {
  color: #ff6060;
  font-weight: 500;
}

h2 {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
}

p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.StyledLink {
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.StyledLinkNav {
  padding-left: 70px;
}

.selected {
  text-decoration: underline;
}

.footer__div {
  background-color: black;
  flex-direction: column;
  margin: 0 -100px;
  height: 209px;
  display: flex;
  justify-content: center;
}

.footer__text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.footer__img {
  width: 122px;
  height: 40px;
  padding-bottom: 30px;
}

.error {
  flex-direction: column;
  padding: 100px 0;
}

.backToHome {
  text-decoration: underline;
  font-size: 18px;
}

.error__txt {
  font-size: 36px;
  padding: 100px 0;
  text-align: center;
}

@media (max-width: 1080px) {
  .footer__div {
    margin: 0 -20px;
  }
  body {
    margin: 0 20px;
  }

  .error img {
    width: 48%;
  }

  .error__txt {
    font-size: 30px;
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  nav img {
    width: 145px;
    height: 47px;
  }

  .error {
    gap: 50px;
  }

  .error__txt {
    font-size: 18px;
  }

  .backToHome {
    font-size: 14px;
  }
}

@media (min-width: 425) and (max-width: 542px) {
  .StyledLinkNav {
    font-size: 12px;
    padding: 0 20px;
  }

  .footer__img {
    padding-bottom: 10px;
  }

  .footer__text {
    font-size: 12px;
    width: 30%;
  }
}

@media (max-width: 424px) {
  .StyledLinkNav {
    padding-left: 20px;
  }
}

@media (max-width: 523px) {
  .StyledLinkNav {
    font-size: 12px;
  }

  .footer__img {
    padding-bottom: 10px;
  }

  .footer__text {
    font-size: 12px;
    width: 30%;
  }
}
