.carrousel__img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  object-position: center;
  position: relative;
  border-radius: 25px;
  z-index: 0;
}

.arrow_forward {
  right: 0;
  position: absolute;
  z-index: 1;
}

.arrow_back {
  left: 0;
  position: absolute;
  z-index: 1;
}

.counter {
  position: absolute;
  bottom: 0;
  z-index: 2;
  color: #fff;
}

.hide {
  display: none;
}

.shadowDiv {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  border-radius: 25px;
}

@media (max-width: 768px) {
  .carrousel__section {
    height: 255px;
  }

  .carrousel__img {
    height: 255px;
  }

  .arrow_back,
  .arrow_forward {
    width: 35px;
    height: 35px;
  }

  .counter {
    display: none;
  }
}
