.titleAndHost {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.host {
  display: flex;
  justify-content: flex-end;
}

.hostName {
  width: 45%;
}

.profile {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
